.messageCard {
    background-color: transparent;
    border: 2px solid white;  
    padding: auto;
    margin: 10px;
}
.mainContainer {
    background-image: url("../assets/wood-1759566.jpg");
    background-repeat: repeat;
    background-position: cover;
    padding: 10px;
}
p {
    font-size: 15px;
    font-family: "Sans-serif";
    color: white;
}